@tailwind base;
@tailwind components;
@tailwind utilities;






@media (min-width: 320px) {
    .hero-bg-image {
        background-image: url('../public/images/hero-mobile.jpg');
        background-position: top center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}

@media (min-width: 768px) {
    .hero-bg-image {
        background-image: url('../public/images/hero.jpg');
        background-position:  30%;
        background-repeat: no-repeat;
    }
}


.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

